@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

$colors: (
  "primary-100": $primary-100,
  "primary-200": $primary-200,
  "success-100": $success-100,
  "info-100": $info-100,
  "info-200": $info-200,
  "info-300": $info-300,
  "info-400": $info-400,
  "info-500": $info-500,
  "info-600": $info-600
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .text-#{$name} {
    color: $color !important;
  }

  .border-#{$name} {
    border-color: $color !important;
  }
}

$u-text-sizes: (
  xs: 0.75rem,   // 12px
  sm: 0.875rem,  // 14px
  md: 1rem,      // 16px
  lg: 1.25rem,   // 20px
  xl: 1.5rem,    // 24px
  xxl: 2rem,      // 32px
  xxxl: 2.5rem     // 40px
);

@each $token, $rem in $u-text-sizes {
  .app-text-#{$token} {
    font-size: $rem;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
.q-menu{
  border-radius: 8px;
}

.grid-2-cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
}