// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary-100: #009EFB;
$primary-200: #007DC7;
$success-100: #00835C;
$info-100: #ADADB3;
$info-200: #84858C;
$info-300: #84858C;
$info-400: #696A71;
$info-500: #58585F;
$info-600: #434347;
